.card{
    background: var(--main-bg-card-color);
    
}

.card-content > div{
    overflow: auto;

}

.card-header {
    border-bottom: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgba(255,255,255,0.4);
    margin-bottom: 1em;
}

.card-header-icon{
    margin-right: 0.5em;

}

.card-custom-link{
    display: inline-flex;
    color: inherit;
    font-weight: bold;
    align-items: baseline;
}

.card-custom-link:hover{
    text-decoration: underline;

}

.card-custom-link-elipsis{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 100px;
    display: inline-block;

}

table {
    display: flex;
    flex-direction: column;
    overflow: auto;
}