/*https://coolors.co/283d3b-197278-edddd4-c44536-772e25*/
:root {
    --main-bg-color: #EDDDD4;
    --main-bg-wrapper-color: #C44536;
    --main-bg-card-color: #197278;
}
  

.application-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: var(--main-bg-color);

}

.application-content{
    flex-grow: 1;
    
}

input, label {
    color : white
}

.btn{
    background-color: #C44536;
}

.btn:hover{
    background-color: #bf5a4e;
}

.row{
    margin-bottom: 0;
}